<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <ComponentGroup Id="InstallZadig">
            <File
                Directory="INSTALLFOLDER"
                Subdirectory="bin"
                Source="res/zadig-$(env.ZADIG_VERSION).exe"
                Name="zadig.exe"
            />
        </ComponentGroup>
    </Fragment>
</Wix>
