<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <!-- If the shortcuts are broken in some weird way, regenerate the GUID below. -->
        <Component
            Id="AppShortcuts"
            Guid="01d76d67-cef2-449b-83f5-ef5c06f3f9a0"
            Directory="INSTALLFOLDER"
        >
            <!-- Sets up PATH so we don't have to update it globally -->
            <File
                Source="res\vars.bat"
                KeyPath="yes"
            />

            <!-- Desktop shortcut -->
            <Shortcut
                Id="DesktopAppShortcut"
                Name="!(loc.ProductName)"
                Description="!(loc.AppShortcutDescription)"
                Target="[SystemFolder]cmd.exe"
                Arguments="/k &quot;[INSTALLFOLDER]vars.bat&quot;"
                WorkingDirectory="INSTALLFOLDER"
                Icon="AppIcon"
                IconIndex="0"
                Directory="AppDesktopFolder"
            />

            <!-- Start menu shortcuts -->
            <Shortcut
                Id="StartMenuAppShortcut"
                Name="!(loc.AppShortcutName)"
                Description="!(loc.AppShortcutDescription)"
                Target="[SystemFolder]cmd.exe"
                Arguments="/k &quot;[INSTALLFOLDER]vars.bat&quot;"
                WorkingDirectory="INSTALLFOLDER"
                Icon="AppIcon"
                IconIndex="0"
                Directory="AppProgramsFolder"
            />
            <Shortcut
                Id="StartMenuPythonIDLEShortcut"
                Name="!(loc.PythonIDLEShortcutName)"
                Description="!(loc.PythonIDLEShortcutDescription)"
                Target="[INSTALLFOLDER]bin\python3w.exe"
                Arguments="-m idlelib.pyshell"
                WorkingDirectory="INSTALLFOLDER"
                Directory="AppProgramsFolder"
            />
            <Shortcut
                Id="StartMenuManualShortcut"
                Name="!(loc.ManualShortcutName)"
                Description="!(loc.ManualShortcutDescription)"
                Target="[INSTALLFOLDER]doc\manual\!(loc.ManualLocale)\intro.html"
                Directory="AppProgramsFolder"
            />
            <Shortcut
                Id="StartMenuUninstallShortcut"
                Name="!(loc.UninstallShortcutName)"
                Description="!(loc.UninstallShortcutDescription)"
                Target="[SystemFolder]msiexec.exe"
                Arguments="/x [ProductCode]"
                Directory="AppProgramsFolder"
            />
            <RemoveFolder
                Id="RemoveAppProgramsFolder"
                Directory="AppProgramsFolder"
                On="uninstall"
            />
        </Component>

        <Component
            Id="PulseViewShortcuts"
            Guid="500c91e7-4bec-4d6d-8988-c0efa0d4b09e"
            Directory="INSTALLFOLDER"
        >
            <!-- Start menu shortcuts -->
            <Shortcut
                Id="StartMenuPulseViewShortcut"
                Name="!(loc.PulseViewShortcutName)"
                Description="!(loc.PulseViewShortcutDescription)"
                Target="[INSTALLFOLDER]bin\pulseview.exe"
                WorkingDirectory="INSTALLFOLDER"
                Directory="AppProgramsFolder"
            />
        </Component>

        <Component
            Id="PXViewShortcuts"
            Guid="86113788-8ffa-4fea-967d-eee288873d47"
            Directory="INSTALLFOLDER"
        >
            <!-- Start menu shortcuts -->
            <Shortcut
                Id="StartMenuPXViewShortcut"
                Name="!(loc.PXViewShortcutName)"
                Description="!(loc.PXViewShortcutDescription)"
                Target="[INSTALLFOLDER]bin\PXView.exe"
                WorkingDirectory="INSTALLFOLDER"
                Directory="AppProgramsFolder"
            />
        </Component>

        <Component
            Id="ZadigShortcuts"
            Guid="39a5e518-2712-482a-a42e-514f1977175c"
            Directory="INSTALLFOLDER"
        >
            <!-- Start menu shortcuts -->
            <Shortcut
                Id="StartMenuZadigShortcut"
                Name="!(loc.ZadigShortcutName)"
                Description="!(loc.ZadigShortcutDescription)"
                Target="[INSTALLFOLDER]bin\zadig.exe"
                WorkingDirectory="INSTALLFOLDER"
                Directory="AppProgramsFolder"
            />
        </Component>

        <ComponentGroup Id="Shortcuts">
            <ComponentRef Id="AppShortcuts"/>
            <ComponentRef Id="PulseViewShortcuts"/>
            <ComponentRef Id="PXViewShortcuts"/>
            <ComponentRef Id="ZadigShortcuts"/>
        </ComponentGroup>
    </Fragment>
</Wix>
